@model IEnumerable<IBid.DAL.Models.Volunteer>

@{
    ViewData["Title"] = "ShowVolunteers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ShowVolunteers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolunteerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VolunteerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditVolunteer", new { id=item.VolunteerId}) |
                @Html.ActionLink("Delete", "DeleteVolunteer", new { id=item.VolunteerId })
            </td>
        </tr>
}
    </tbody>
</table>
